@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-color: rgb(176, 223, 250);
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.loading {
    width: 70px ;
}